[gcode_arcs]
resolution: 0.1

#####################################################################
#  Macros
#####################################################################
[gcode_macro PRINT_START]
##  Пользовательские параметры
##  BED_TEMP      : Целевая температура для кровати. Также используется для принятия решений
##                  если требуется тепловое замачивание
##  EXTRUDER_TEMP : Целевая температура для экструдера
##  Системные переменные
variable_redo_qgl: 'true'
variable_extruder: 238
##   Финал : все, что нужно сделать после времени ожидания
gcode:
  #############  Get user defines  #############
  {% set center_x = printer[`gcode_macro _USER_VARIABLE`].center_x %}
  {% set center_y = printer[`gcode_macro _USER_VARIABLE`].center_y %}
  {% set z_min_delta = printer[`gcode_macro _USER_VARIABLE`].z_min_delta %}
  {% set z_hop = printer[`gcode_macro _USER_VARIABLE`].z_hop %}
  #############  Set defaults  #############
  {% set bed_temp = params.BED_TEMP|default(107)|int %}
  {% set extruder_temp = params.EXTRUDER_TEMP|default(238)|int %}
  #############  BED temp values  #############
  # get actual temp from extra sensor or heater sensor
  {% if 'temperature_sensor bed' in printer %}
    {% set actBed = printer['temperature_sensor bed'].temperature|int %}
  {% else %}
    {% set actBed = printer.heater_bed.temperature|int %}
  {% endif %}
  _RUNOUT_INFO
  # get filament state either use the safe variable or the runout sensor
  {% if 'filament_switch_sensor runout' in printer.configfile.settings %}
    {% if printer['filament_switch_sensor runout'].enabled|lower == 'true' %}
      {% set filament_detected = printer['filament_switch_sensor runout'].filament_detected|lower %}
    {% else %}
      {% set filament_detected = printer.save_variables.variables.filament_loaded %}
    {% endif %}
  {% else %}
    {% set filament_detected = printer.save_variables.variables.filament_loaded %}
  {% endif %}
  {% set targetBed = BED_TEMP|int%}
  SET_GCODE_VARIABLE MACRO=CANCEL_PRINT VARIABLE=execute VALUE='"false"'
  SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=extruder VALUE={extruder_temp|int}
  {% if filament_detected == 'true' %}
    _DISPLAY_PLATE
    _CASELIGHT_ON
    _LCD_KNOB COLOR=RED BLINK=1
    CLEAR_PAUSE
    SET_GCODE_OFFSET Z=0.0
    M220 S100
    M221 S100
    M140 S{BED_TEMP|int + 0.9}
    _CG28
    G90
    G0 Z{z_hop} F900
    G0 X{center_x} Y{center_y} F15000
    M117 Heating Bed
    _PRINT_AR T="{"Bed act temp:%3dC target:%3dC target(%3dC)" % (actBed|int,targetBed|int,BED_TEMP|int)}"
    SET_GCODE_VARIABLE MACRO=PRINT_START VARIABLE=redo_qgl VALUE='"true"'
    M106 S102
    M190 S{bed_temp|int + 0.9} ; heat bed and wait
    M140 S{bed_temp|int}  ; heat bed
    M400 
  {% else %}
    _PRINT_AR T="No Filament loaded, print canceled!"
    BASE_CANCEL_PRINT
    UPDATE_DELAYED_GCODE ID=_DELAY_SDCARD_RESET_FILE DURATION=1
  {% endif%}
  _LCD_KNOB COLOR=RED
  G21
  G90
  M83
  G32
  M109 S{EXTRUDER_TEMP|int} ; heat extruder and wait
  NOZZLECLEAN
  G28 Z
  _SET_ACC VAL=PRINT
  M117 Heating Extruder
  M106 S0
  M104 S{EXTRUDER_TEMP|int}
  PRIME_LINE
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1
  
[gcode_macro PRINT_END]
description: All commands after the print
gcode:
  SAVE_GCODE_STATE NAME=STATE_PRINT_END
  ##### Получить границы #####
  {% set max_z = printer.toolhead.axis_maximum.z|float - 3 %}
  {% set act_z = printer.toolhead.position.z|float %}
  ##### Get user defines #####
  {% set purge_x = printer[`gcode_macro _USER_VARIABLE`].purge_x %}
  {% set purge_y = printer[`gcode_macro _USER_VARIABLE`].purge_y %}
  {% set retreact = printer[`gcode_macro _USER_VARIABLE`].retreact_end|float * - 1 %}
  ##### Calculate save move #####
  {% if act_z < (max_z - 0.6) %}
    {% set z_safe = 0.6 %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  #####  Get Temps for printout  #####
  {% if 'temperature_sensor bed' in printer %}
    {% set actBed = printer['temperature_sensor bed'].temperature %}
  {% else %}
    {% set actBed = printer.heater_bed.temperature %}
  {% endif %}
  ##### end of definitions #####
  M400                                     ; wait for buffer to clear
  G92 E0                                   ; zero the extruder
  M83                                      ; relative extrusion
  G1 E{retreact} F3600                     ; retract filament
  G91                                      ; relative positioning
  G0 Z{z_safe} F900                        ; move nozzle to remove stringing
  TURN_OFF_HEATERS                         ; turn off heaters
  M107                                     ; turn off fan
  G90                                      ; absolute positioning
  G0 X{purge_x} Y{purge_y} F15000          ; park nozzle at brush bin
  M400
  TIMELAPSE_TAKE_FRAME
  G0 Z{max_z} F600
  _LCD_KNOB COLOR=GREEN
  _CASELIGHT_OFF
  _ADD_PRINT_TIME
  _SD_PRINT_STATS R='done'
  _SD_PRINTER_STATS
  UPDATE_DELAYED_GCODE ID=_DELAY_SDCARD_RESET_FILE DURATION=10
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=10
  RESTORE_GCODE_STATE NAME=STATE_PRINT_END
  _SET_ACC
  SET_GCODE_OFFSET Z=0.0
  M220 S100
  M221 S100
  UPDATE_DELAYED_GCODE ID=_BED_MESH_SAVE DURATION=10

### TimeLapse ###
[gcode_macro TIMELAPSE_TAKE_FRAME]
gcode:
 {action_call_remote_method("timelapse_newframe")}
 
[gcode_macro TIMELAPSE_TAKE_RENDER]
gcode:
 {action_call_remote_method("timelapse_render")}

## Сбросить файл SD после завершения печати
[delayed_gcode _DELAY_SDCARD_RESET_FILE]
gcode:
  SDCARD_RESET_FILE

[gcode_macro G32]
description: Execute plate offset and QGL
gcode:
  _PRINT_AR T="Home" SHOW_LCD=true
  _CG28 ; home if not already homed
  BED_MESH_CLEAR
  BED_MESH_LOAD AUTO=true
  _SET_PLATE_OFFSET
  G90
  UPDATE_DELAYED_GCODE ID=_CLEAR_DISPLAY DURATION=1

## Different Park positions
[gcode_macro PARKFRONT]
description: Park head front high
gcode:
  ##### Get printer defines #####
  {% set min_y = printer.toolhead.axis_minimum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  ##### Get user defines #####
  {% set park_x = printer[`gcode_macro _USER_VARIABLE`].center_x %}
  {% set z_max_delta = printer[`gcode_macro _USER_VARIABLE`].z_max_delta|float %}
  {% set boarder_delta = printer[`gcode_macro _USER_VARIABLE`].boarder_delta|float %}
  ##### calc park pos #####
  {% set park_y = min_y + boarder_delta %}
  {% set park_z = max_z - z_max_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKFRONT
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F15000
  RESTORE_GCODE_STATE NAME=STATE_PARKFRONT
  
[gcode_macro PARKFRONTLOW]
description: Park head front low
gcode:
  ##### Get printer defines #####
  {% set min_y = printer.toolhead.axis_minimum.y|float %}
  ##### Get user defines #####
  {% set park_x = printer[`gcode_macro _USER_VARIABLE`].center_x %}
  {% set park_z = printer[`gcode_macro _USER_VARIABLE`].z_min_delta %}
  {% set boarder_delta = printer[`gcode_macro _USER_VARIABLE`].boarder_delta|float %}
  ##### calc park pos #####
  {% set park_y = min_y + boarder_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKFRONTLOW
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F15000
  RESTORE_GCODE_STATE NAME=STATE_PARKFRONTLOW
   
[gcode_macro PARKREAR]
description: Park head rear high
gcode:
  ##### Get needed max/min/delta #####
  {% set min_x = printer.toolhead.axis_minimum.x|float %}
  {% set max_y = printer.toolhead.axis_maximum.y|float %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  ##### Get user defines #####
  {% set boarder_delta = printer[`gcode_macro _USER_VARIABLE`].boarder_delta|float %}
  {% set z_max_delta = printer[`gcode_macro _USER_VARIABLE`].z_max_delta|float %}
  ##### calc park pos #####
  {% set park_x = min_x + boarder_delta %}
  {% set park_y = max_y - boarder_delta %}
  {% set park_z = max_z - z_max_delta %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKREAR
  _CG28 ; Home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F15000
  RESTORE_GCODE_STATE NAME=STATE_PARKREAR
   
[gcode_macro PARKCENTER]
description: Park head middle of printer
gcode:
  ##### Get user defines #####
  {% set park_x = printer[`gcode_macro _USER_VARIABLE`].center_x %}
  {% set park_y = printer[`gcode_macro _USER_VARIABLE`].center_y %}
  {% set park_z = printer[`gcode_macro _USER_VARIABLE`].center_z %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKCENTER
  _CG28 ; Home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F15000
  RESTORE_GCODE_STATE NAME=STATE_PARKCENTER
   
[gcode_macro PARKBED]
description: Park head middle of bed low
gcode:
  ##### Get user defines #####
  {% set park_x = printer[`gcode_macro _USER_VARIABLE`].center_x %}
  {% set park_y = printer[`gcode_macro _USER_VARIABLE`].center_y %}
  {% set park_z = printer[`gcode_macro _USER_VARIABLE`].z_min_delta|float %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=STATE_PARKBED
  _CG28 ; home if not already homed
  G90   ; absolute positioning
  G0 X{park_x} Y{park_y} Z{park_z} F15000
  RESTORE_GCODE_STATE NAME=STATE_PARKBED
    
# This will shown "in order" in the console
[gcode_macro _PRINT_AR]
description: Helper: Action response 
gcode:
  #####  set defaults  #####
  {% set show_lcd = params.SHOW_LCD|default('false') %}
  {% if show_lcd == 'true' %}
    M117 {'%s' % (params.T|string)}
  {% endif %}
  {action_respond_info("%s" % (params.T|string))}
        
[gcode_macro _PRINT_TIME]
description: Helper: Print time for start macro
gcode:
  #####  set defaults  #####
  {% set text = params.TEXT|default('Timer') %}
  {% set show_ar = params.SHOW_AR|default('false') %}
  #####  calc values for time  #####
  {% set minutes = ((params.TIME|int / 60) % 60)|int %}
  {% set seconds = (params.TIME|int % 60)|int %}
  M117 {'%s' % (TEXT)} {minutes|int}:{'%02d' % (seconds|int)}
  {%if show_ar == 'true' %}
    {action_respond_info("%s %d:%02d" % (text,minutes|int,seconds|int))}
  {% endif %}      

[gcode_macro M204]
description: Set and limit acceleration to cfg value
rename_existing: M204.1
gcode:
  #####  get accel from parameter  #####
  {% if 'S' in params %}
    {% set param_accel = params.S|float %}
  {% elif 'P' in params %}
    {% set param_accel = params.P|float %}
  {% elif 'T' in params %}
    {% set param_accel = params.T|float %}
  {% endif %}
  #####  get limits from config  #####
  {% set max_accel = printer.configfile.settings.printer.max_accel|float %}
  {% set max_accel_to_decel = printer.configfile.settings.printer.max_accel_to_decel|float %}
  #####  calc accel_to deccel  #####
  {% set param_accel_to_decel = (param_accel * 3 / 5.0) %}
  #####  limit values to config values  ##### 
  {% if param_accel < max_accel %}
    {% set accel = param_accel|int %}
  {% else %}
    {% set accel = max_accel|int %}
  {% endif%}
  {% if param_accel_to_decel < max_accel_to_decel %}
    {% set accel_to_decel = param_accel_to_decel|int %}
  {% else %}
    {% set accel_to_decel = max_accel_to_decel|int %}
  {% endif %}
  #####  end of definition  #####
  SET_VELOCITY_LIMIT ACCEL={accel} ACCEL_TO_DECEL={accel_to_decel}
  
[gcode_macro M115]
description: Print host and mcu version
rename_existing: M115.1
gcode:
  {% set parameters = namespace(output = 'mcu build version: \n') %}
  {% for name1 in printer %}
    {% for name2 in printer[name1] %}
      {% set show = ['mcu_version'] %}
      {% if name2 is in show %}
        {% set param = "%s: %s" % (name1, printer[name1][name2]) %}
        {% set parameters.output = parameters.output +  param + "\n" %}
      {% endif %}
    {% endfor %}
  {% endfor %}
  {action_respond_info(parameters.output)}
  M115.1
