#####################################################################
#  Stepper Settings
#####################################################################
##  MCU - In X Position
##  B Stepper - Left
[stepper_x]
step_pin: P2.2
dir_pin: !P2.3
enable_pin: !P2.1
##  400 steps per mm -> 0.0025 mm per step 
##  0.9 Stepper Motor
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 32
endstop_pin: P1.29  # P1.28 for X-max
position_endstop: -0.5
position_min: -1
position_max: 381
homing_speed: 40
second_homing_speed: 0.5
homing_retract_speed:1.5
homing_retract_dist: 1.0
homing_positive_dir: false

##  MCU - In Y Position
##  A Stepper - Right
[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
##  400 steps per mm -> 0.0025 mm per step 
##  0.9 Stepper Motor
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 32
endstop_pin: P1.27  # P1.26 for Y-max
position_endstop: -0.5
position_min: -1
position_max: 281
homing_speed: 40
second_homing_speed: 0.5
homing_retract_speed:1.5
homing_retract_dist: 1.0
homing_positive_dir: false

##  Z Stepper
[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
##  1600 steps per mm -> 0.000625 mm per step 
##  1.8 Stepper Motor
full_steps_per_rotation: 200
microsteps: 8
#gear_ratio: 32:16
rotation_distance: 1
endstop_pin: probe: z_virtual_endstop
#endstop_pin: P1.25  # P1.24 for Z-max
#position_endstop: -0.1
position_max: 300
position_min: -4
homing_speed: 5.0
second_homing_speed: 0.2
homing_retract_speed:1.0
homing_retract_dist: 0.50
homing_positive_dir: false

[gcode_macro _SET_Z_CURRENT]
description: Helper: Set Z-drive motor current
variable_last_val: 'RUN'
gcode:
  # set default parameter value
  {% set val = params.VAL|default('RUN') %}
  {% if val == 'HOME' %}
    {% set z_run   = 0.6 %}
    {% set z_hold  = 0.5 %}
  {% else %}
    {% set z_run   = printer.configfile.settings["tmc2208 stepper_z"]["run_current"] %}
    {% set z_hold  = printer.configfile.settings["tmc2208 stepper_z"]["hold_current"] %}
  {% endif %}
  {% if val != printer["gcode_macro _SET_Z_CURRENT"].last_val  %}
    SET_GCODE_VARIABLE MACRO=_SET_Z_CURRENT VARIABLE=last_val VALUE='"{val}"'
    {action_respond_info("Home&Probe: RunCur %.2fA rms HoldCur %.2fA rms" % (z_run|float, z_hold|float))}
    SET_TMC_CURRENT STEPPER=stepper_z  CURRENT={z_run}  HOLDCURRENT={z_hold}
    M400
  {% endif %}